<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ERAJAPBPB/OneDrive - NTT DATA EMEAL/Desktop/ApiTest">
        <classes>
            <class name="com.herokuapp.restfulbooker.ApiTests">
                <methods>
                    <include name="createNewBookingsTest"/>
                    <include name="logAllAvailableIdsTest"/>
                    <include name="updateExistingBookingsWithTotalPrice"/>
                    <include name="deleteExistingBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>